<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Color -- JUCO Photo</title>
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="https://use.typekit.net/pck3put.css">
        <link rel="stylesheet" href="normalize.css">
    </head>
    <body>
        <h1>JUCO Photo Site Components</h1>
        <h2>Typography</h2>
        <p>Original font: GT America, Expanded Black<img src="font.jpg" alt="image"></p>
        
        <p>Replacement font: Pragmatica, Extended Black<img src="font2.jpg" alt="image"></p>
        
        <p>Icon font: IcoMoon</p>
        <p>font weight: 400</p>
        <img src="atom.jpg" alt="image">
        <img src="267-plus.svg" alt="image">
        <img src="268-minus.svg" alt="image">
        <h2>Page Header</h2>
        <img class="comp" src="page-header.jpg" alt="image">
        <header class="header">
            <div class="container">
              <h1 class="site-title"><a href="#"> JUCO </a></h1>
            <h1 class="site-tagline"><a href="#">MENU</a></h1>
          </div>
        </header>
        <h2>Main Grid Content</h2>
        <img class="comp" src="grid-content.jpg" alt="image">
        <div class="grid-content">
            <img class="grid-content__atom" src="../img/1.jpg" alt="image">
            <img class="grid-content__atom" src="../img/2.jpg" alt="image">
            <img class="grid-content__atom"  src="../img/3.jpg" alt="image">
            <img class="grid-content__atom"  src="../img/4.jpg" alt="image">
            <img class="grid-content__atom"  src="../img/5.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/6.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/7.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/8.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/10.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/11.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/12.jpg" alt="image">
            <img class="grid-content__atom"  src="../img/13.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/14.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/15.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/16.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/17.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/18.jpg" alt="image">
            <img class="grid-content__atom"  src="../img/19.jpg" alt="image">
            <img class="grid-content__atom"  src="../img/20.jpg" alt="image">
            <img class="grid-content__atom"  src="../img/21.jpg" alt="image">
            <img class="grid-content__atom"  src="../img/23.jpg" alt="image">
            <img class="grid-content__atom"  src="../img/24.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/25.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/26.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/27.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/28.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/29.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/30.jpg" alt="image">
            <img class="grid-content__atom"  src="../img/31.jpg" alt="image">
            <img  class="grid-content__atom" src="../img/32.jpg" alt="image">
        </div>
        <h2> Menu Popout </h2>
        <img class="comp" src="menu-popout.jpg" alt="image">
        <div class="main-nav__links">
            <ul class="main-nav__list">
                <li class="main-nav__item">
                    <a href="#">Color <sup class="sup">[101]</sup>Color <sup class="sup">[101]</sup>Color <sup class="sup">[101]</sup></a>
                </li>
                <li class="main-nav__active">
                    Portrait <sup class="sup">[114]</sup> Portrait <sup class="sup">[114]</sup>
                </li>
                <li class="main-nav__item">
                    <a href="#">Fashion <sup class="sup">[73]</sup>Fashion <sup class="sup">[73]</sup>Fashion <sup class="sup">[73]</sup></a>
                </li>
                <li class="main-nav__item">
                    <a href="#">Advertising <sup class="sup">[119]</sup>Advertising <sup class="sup">[119]</sup></a>
                </li>
                <li class="main-nav__item">
                    <a href="#">Video <sup class="sup">[22]</sup>Video <sup class="sup">[22]</sup>Video <sup class="sup">[22]</sup></a>
                </li>
            </ul>
        </div>
        

    </body>
</html>