<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Color -- JUCO Photo</title>
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="https://use.typekit.net/pck3put.css">
        <link rel="stylesheet" href="../normalize.css">
    </head>
    <body>
        <img class="comp" src="page-header.jpg">
        <header class="header">
            <div class="container">
              <h1 class="site-title"><a href="#"> JUCO </a></h1>
            <h1 class="site-tagline"><a href="#">MENU</a></h1>
          </div>
        </header>
        <img class="comp" src="grid-content.jpg">
        <div class="grid-content">
            <img class="grid-content__atom" src="../img/1.jpg">
            <img class="grid-content__atom" src="../img/2.jpg">
            <img class="grid-content__atom"  src="../img/3.jpg">
            <img class="grid-content__atom"  src="../img/4.jpg">
            <img class="grid-content__atom"  src="../img/5.jpg">
            <img  class="grid-content__atom" src="../img/6.jpg">
            <img  class="grid-content__atom" src="../img/7.jpg">
            <img  class="grid-content__atom" src="../img/8.jpg">
            <img  class="grid-content__atom" src="../img/10.jpg">
            <img  class="grid-content__atom" src="../img/11.jpg">
            <img  class="grid-content__atom" src="../img/12.jpg">
            <img class="grid-content__atom"  src="../img/13.jpg">
            <img  class="grid-content__atom" src="../img/14.jpg">
            <img  class="grid-content__atom" src="../img/15.jpg">
            <img  class="grid-content__atom" src="../img/16.jpg">
            <img  class="grid-content__atom" src="../img/17.jpg">
            <img  class="grid-content__atom" src="../img/18.jpg">
            <img class="grid-content__atom"  src="../img/19.jpg">
            <img class="grid-content__atom"  src="../img/20.jpg">
            <img class="grid-content__atom"  src="../img/21.jpg">
            <img class="grid-content__atom"  src="../img/23.jpg">
            <img class="grid-content__atom"  src="../img/24.jpg">
            <img  class="grid-content__atom" src="../img/25.jpg">
            <img  class="grid-content__atom" src="../img/26.jpg">
            <img  class="grid-content__atom" src="../img/27.jpg">
            <img  class="grid-content__atom" src="../img/28.jpg">
            <img  class="grid-content__atom" src="../img/29.jpg">
            <img  class="grid-content__atom" src="../img/30.jpg">
            <img class="grid-content__atom"  src="../img/31.jpg">
            <img  class="grid-content__atom" src="../img/32.jpg">
        </div>
        <img class="comp" src="menu-popout.jpg">
        <div class="main-nav__links">
            <ul class="main-nav__list">
                <li class="main-nav__item">
                    <a href="#">Color <sup class="sup">[101]</sup></a>Color <sup class="sup">[101]</sup>Color <sup class="sup">[101]</sup>Color <sup class="sup">[101]</sup>
                </li>
                <li class="main-nav__active">
                    Portrait <sup class="sup">[114]</sup>
                </li>
                <li class="main-nav__item">
                    <a href="#">Fashion <sup class="sup">[73]</sup></a>
                </li>
                <li class="main-nav__item">
                    <a href="#">Advertising <sup class="sup">[119]</sup></a>
                </li>
                <li class="main-nav__item">
                    <a href="#">Video <sup class="sup">[22]</sup></a>
                </li>
            </ul>
        </div>
    </body>
</html>